@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/stars.jpg");
}

.container{
    background: rgba(255, 255, 255, 0.03);    
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    box-shadow: 10px, 10px;
    backdrop-filter: blur(3px);
    border: solid 3px transparent;
    border-radius: 15px;
    
}

header{
    background: rgba(255, 255, 255, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 70%;
    flex-grow: 1;
    padding: 2rem;
    padding-top: 3rem;
}

aside{
    background: rgba(255, 255, 255, 0.02);
    flex-basis: 30%;
    flex-grow: 1;
    padding: 2rem;
}

header h1, input, button{
    margin-bottom: 2rem;
    color: white;
}   

p{
    color: white; 
}

#p-dob{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: white; 
}


header h1{
    text-align: center;
    margin-top: 2rem;
}

header input{
    padding: 0.7rem 1rem;
    width: 70%;
    font-size: x-large;
    /* font-weight: bolder; */
    color: black
}

header button{
    padding: 0.7rem 1rem;
    width: 70%;
    font-size: x-large;
    font-weight: bolder;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    background-size: 200% auto;
    box-shadow:5px 5px #F4719F;
    color:white;
    text-shadow: 3px 2px black;            

}

#div-output{

    width: 70%;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bolder;
}

